
.content{
    background-color: rgb(244, 214, 149);
    border-radius: 10px;
    height: 10%;
    width: 90%;
    margin:auto;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-content p{
    font-size: 20px;
    margin-top: 0;
}
.sub-content h2{
    margin-bottom: 0;
}
.icon-1{
    color: rgb(186, 121, 0);
    font-size: 40px;    
}
.icons{
font-size: 25px;
display: flex;
justify-content:space-between;
}

.icons-1{
    padding-right: 15px;
    cursor: pointer;
}



@media only screen and (max-width:440px){

    .icon-1{
        width: 10%;
        height: 90%;
        margin-right: 4px;
    }
    .icons{
        width: 10%;
        height: 90%;
        flex-direction: column;
        margin-left: 4px;

    }
    .sub-content{
        width: 80%;
        height: 100%;
        margin:0 3px 0 3px;

    }
    .sub-content p{
        font-size: 15px;
    }
   }


   @media only screen and (max-width:320px){
    .sub-content p{
        font-size: 10px;
    }
   }